.link-heading {
    font-weight: bold;
    text-transform: uppercase;
    overflow-wrap: break-word;
    white-space: normal;
    margin-bottom: 15px;
  }

.success-message {
  color: #28a745;
  padding: 10px;
  border-radius: 4px;
  background-color: rgba(40, 167, 69, 0.1);
}

.error-message {
  color: #dc3545;
  padding: 10px;
  border-radius: 4px;
  background-color: rgba(220, 53, 69, 0.1);
}
.formStatus-style {
  display: none;
  margin-top: 10px;
}

