/* Allgemeine Header-Einstellungen */
.header_section {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s ease-in-out;
  z-index: 1000;
  background-color: #2F3030;
}
#navbarSupportedContent.show .nav-link {
  border-bottom: 2px solid #19B1E9;
  margin: 0 5px;
}
/* Für das responsive Verhalten */
@media (max-width: 992px) {
  #navbarSupportedContent.show {
    padding-bottom: 15px;
    
  }

  #navbarSupportedContent.show .nav-link {
    color: #ffffff;
    border-bottom: 2px solid #19B1E9;
  }
}

/* Beispiel-CSS für den Menü-Button bei kleinen Bildschirmen */
.custom_menu-btn button {
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Wenn der Menü-Button aktiv ist (Klasse "menu_btn-style") */
.menu_btn-style {
  /* Beispiel-Styles bei aktiviertem Button */
  transform: rotate(90deg);
}

/* Beispiel für die drei Striche des Buttons */
.s-1, .s-2, .s-3 {
  display: block;
  width: 25px;
  height: 3px;
  margin: 4px;
  background: #fff;
}

/* Stile für den Toggle-Button */
.navbar-toggler {
  border: none; /* Entfernt den Standard-Button-Rahmen */
  background: transparent; /* Macht den Hintergrund transparent */
  padding: 0;
  width: 40px;
  height: 40px;
}

/* Stile für die Balken */
.toggle {
  position: relative;
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 0.3s;
}

.bar {
  width: 100%;
  height: 4px;
  background-color: rgb(253, 255, 243);
  border-radius: 2px;
  transition: transform 0.3s, opacity 0.3s;
}

/* Animationszustand, wenn das Menü geöffnet ist */
.navbar-toggler[aria-expanded="true"] #bar1 {
  transform: rotate(45deg) translate(9px, 9px);
}

.navbar-toggler[aria-expanded="true"] #bar2 {
  opacity: 0;
}

.navbar-toggler[aria-expanded="true"] #bar3 {
  transform: rotate(-45deg) translate(5px, -5px);
}


