
.carousel-item {
transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out !important;
}

.animate_from_bottom {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}
.animate_from_bottom.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Lottie-Styling */
.lottie-container {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.lottie-placeholder,
.lottie-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Personality Icons + Accordion-Styling */
.personality-icon {
  width: 48px;
  height: 48px;
  transition: transform 0.3s ease;
}
.t-link-box:hover .personality-icon {
  transform: scale(1.1) rotate(5deg);
}
.openness-icon { fill: #ffffff; }
.conscientiousness-icon { fill: #ffffff; }
.extraversion-icon { fill: #ffffff; }
.agreeableness-icon { fill: #ffffff; }
.neuroticism-icon { fill: #ffffff; }

.text-box {
  padding-left: 140px;
  padding-top: 100px;
  padding-bottom: 20px;
  padding-right: 200px;
}
.text-box2 {
  padding-left: 140px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 0px;
}
.text-box3 {
  padding-left: 20px;
}
.text-box4 {
  padding-left: 0; /* Standardwert für kleinere Bildschirme */
}
@media (min-width: 1200px) {
  .text-box4 {
    padding-left: 10px;
  }
}
.collapse {
  overflow: hidden;
}

/* Inline-Styles -> Klassen */

/* 1) Vollbreite-Bilder */
.img-fullwidth-autoheight {
  width: 100%;
  height: auto;
}

/* Grundlegende .no-pointer Klasse */
.no-pointer {
  pointer-events: none;
  height: auto;
}


/* Tablets (768px bis 1023px) */
@media (min-width: 768px)  {
  .no-pointer {
    width: 130%;
  }
}


.responsive-video-KI {
  width: 90%;
  }

  /* Ab einer Bildschirmbreite von 768px */
  @media (min-width: 1000px) {
    .responsive-video-KI {
      width: 70%;
      margin: 0 auto; /* Zentriert das Video */
    }
  }

  .video-limit {
    width: 100%;
    max-width: 700px;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

/* 3) Headline (line-height:1.2; font-weight:700;) */
.hero-headline {
  line-height: 1.2;
  font-weight: 700;
}

/* 4) Block-Span (statt display:block;) */
.block-span {
  display: block;
}

/* 5) Subtitle (font-size:1.5em; margin-top:1.5em; font-weight:500; color:#F3F3F3;) */
.slide-subtitle {
  font-size: 1.5em;
  margin-top: 1.5em;
  font-weight: 500;
  color: #F3F3F3;
}

/* 6) Heading für Experience-Bereich (z.B. uppercase, #2F3030, line-height:1.2) */
.experience-heading {
  color: #2F3030;
  font-weight: bold;
  text-transform: uppercase;
  overflow-wrap: break-word; 
  white-space: normal; 
  hyphens: auto;
  line-height: 1.2; 
  text-align: left;
}

/* 7) Zusätzliche Klasse für zentriertes Flex-Layout */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 8) Klasse für fett gedruckte Texte/Überschriften anstelle von style="font-weight: bold;" */
.bold-text {
  font-weight: bold;
}

/* =========================================================
  flip
  ========================================================= */

/* --- Flip-Card-Grundstruktur --- */
.flip-card {
  /* Standardwerte für kleine bis mittlere Screens */
  width: 100%;
  max-width: 380px;
  height: 200px;
  perspective: 1000px;
  margin: -10px auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

/* Standard: Flip bei Hover (nur auf großen Screens) */
@media (min-width: 769px) {
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
}

/* Vorder- und Rückseite */
.flip-card-front,
.flip-card-back {
  border: 4px solid #ccc;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  padding: 15px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.05);
}

.flip-card-front {
  background-color: #f8f8f8; /* Standard-Farbe */
  color: #333;
}

.flip-card-back {
  background-color: #ffffff; /* Standard-Farbe */
  color: #333;
  transform: rotateY(180deg);
}

/* Titel- und Textformatierungen */
.flip-card .title {
  font-size: 1.7em;
  font-weight: 700;
  margin-bottom: 0.5em;
}
.flip-card p {
  font-size: 1.0em;
  line-height: 1.3em;
  margin-bottom: 0;
}

/* Flip bei Klick (kleine Screens) */
.flip-card-inner.is-flipped {
  transform: rotateY(180deg);
}

/* Mobile- & Desktop-Text separat steuern */
.flip-card-back-mobile {
  display: none;
}

/* Desktop: langer Text anzeigen, kurzer Text ausblenden */
@media (min-width: 769px) {
  .flip-card-back-mobile {
    display: none;
  }
  .flip-card-back-desktop {
    display: block;
    transform: translateY(-10%);
    
  }
}
/* Mobile: kurzer Text anzeigen, langer Text ausblenden */
@media (max-width: 768px) {
  .flip-card-back-desktop {
    display: none;
  }
  .flip-card-back-mobile {
    display: block;
  }
}

/* Offenheit */
.flip-card-offenheit .title {
  color: #826AFF; 
}

/* Gewissenhaftigkeit */
.flip-card-gewissenhaftigkeit .title {
  color: #3386fd; 
}

/* Extraversion */
.flip-card-extraversion .title {
  color: #fc884f; 
}

/* Verträglichkeit */
.flip-card-vertraeglichkeit .title {
  color: #65B973; 
}

/* Neurotizismus */
.flip-card-neurotizismus .title {
  color: #EF5045; 
}

/* Offenheit */
.flip-card-offenheit .flip-card-front {
  background-color: #2F3030;
  color: #ffffff;
  
}
.flip-card-offenheit .flip-card-back {
  background-color: #826AFF;
  color: #ffffff;
}

/* Gewissenhaftigkeit */
.flip-card-gewissenhaftigkeit .flip-card-front {
  background-color: #2F3030;
  color: #ffffff;
}
.flip-card-gewissenhaftigkeit .flip-card-back {
  background-color: #3386fd;
  color: #ffffff;
}

/* Extraversion */
.flip-card-extraversion .flip-card-front {
  background-color: #2F3030;
  color: #ffffff;
}
.flip-card-extraversion .flip-card-back {
  background-color: #fc884f;
  color: #ffffff;
}

/* Verträglichkeit */
.flip-card-vertraeglichkeit .flip-card-front {
  background-color: #2F3030; 
  color: #ffffff;
}
.flip-card-vertraeglichkeit .flip-card-back {
  background-color: #65B973;
  color: #ffffff;
}

/* Neurotizismus */
.flip-card-neurotizismus .flip-card-front {
  background-color: #2F3030; 
  color: #ffffff;
}
.flip-card-neurotizismus .flip-card-back {
  background-color: #EF5045;
  color: #ffffff;
}

.bg-variant-flip {
  background-color: #F3F3F3;
}

@media (min-width: 768px) and (max-width: 992px) {
  .flip-card {
    max-width: 500px; 
    height: 350px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .flip-card {
    max-width: 500px;  
    height: 300px;
  }
}

@media (min-width: 1200px) {
  .flip-card {
    max-width: 1200px;
    height: 300px;
  }
}

/* =========================================================
  Wiggle-Animation
  ========================================================= */

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(1deg); }
  50% { transform: rotate(-1deg); }
  75% { transform: rotate(1deg); }
  100% { transform: rotate(0deg); }
}

/* Grundanimation für alle Karten im geschlossenen Zustand */
.flip-card-inner:not(.is-flipped) .flip-card-front {
  transform-origin: center;
}

/* Individuelle Verzögerungen für jede Karte */
.flip-card-offenheit .flip-card-front {
  animation: wiggle 1s infinite;
  animation-delay: 45s;

}

.flip-card-gewissenhaftigkeit .flip-card-front {
  animation: wiggle 1s infinite;
  animation-delay: 1s;
}

.flip-card-extraversion .flip-card-front {
  animation: wiggle 1s infinite;
  animation-delay: 76s;
}

.flip-card-vertraeglichkeit .flip-card-front {
  animation: wiggle 1s infinite;
  animation-delay: 92s;
}

.flip-card-neurotizismus .flip-card-front {
  animation: wiggle 1s infinite;
  animation-delay: 5s;
}

/* Stoppen der Animation, wenn die Karte umgedreht ist */
.flip-card-inner.is-flipped .flip-card-front {
  animation: none;
}


/* =========================================================
  Gradient Video
  ========================================================= */
          .video-container {
            position: relative;
            display: block; /* statt inline-block */
            width: 100%;
            max-width: 100%; /* optional */
            margin: 0;
            padding: 0;
          }

          .video-container video {
            display: block;
            width: 100%;
            height: auto;
          }

          .video-container::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            z-index: 2;
          }

          /* Handy-Layout (bspw. <= 767px) */
          @media (max-width: 767px) {
            .video-container::before {
              background:
                linear-gradient(to bottom, #19b2e9, transparent) 0 0 / 100% 30% no-repeat,
                linear-gradient(to top, #19B1E9, transparent) 0 100% / 100% 30% no-repeat,
                linear-gradient(to right, #19B1E9, transparent) 0 0 / 15% 100% no-repeat,
                linear-gradient(to left, #19B1E9, transparent) 100% 0 / 15% 100% no-repeat;
            }
          }

          /* Desktop-Layout (bspw. >= 768px) */
          @media (min-width: 768px) {
            .video-container::before {
              background:
                linear-gradient(to bottom, #19B1E9, transparent) 0 0 / 100% 15% no-repeat,
                linear-gradient(to top, #19B1E9, transparent) 0 100% / 100% 15% no-repeat,
                linear-gradient(to right, #19B1E9, transparent) 0 0 / 15% 100% no-repeat,
                linear-gradient(to left, #19B1E9, transparent) 100% 0 / 15% 100% no-repeat;
            }
          }
