<!DOCTYPE html>
<html lang="de">  

  <body>
    <!-- footer section -->
    <footer id="footer" class="container-fluid footer_section">
      <div class="container">
        <p>
          &copy; <span id="displayDate"></span> Alle Rechte vorbehalten von <a href="#">ADASK</a>
          <!-- &nbsp;|&nbsp; <a href="#" id="openCookieSettingsLink">Cookie Einstellungen</a>-->
          &nbsp;|&nbsp; <a href="../datenschutz">Datenschutz</a>
          &nbsp;|&nbsp; <a href="../impressum">Impressum</a>
          &nbsp;|&nbsp; <a href="https://www.dencraft.de/">Partner: dencraft</a>
        </p>
      </div>
    </footer>
    <!-- end footer section -->
  </body>

</html>
