<!DOCTYPE html>
<html lang="de">
  <head>
    <link rel="stylesheet" href="../css/footer.css">
  </head>
  <body>
    <!-- info section -->
    <section class="info_section">
      <div class="info_container">
        <div class="container">
          <div class="info_top">
            <div class="info_logo">
              <img src="../images/logo-1.webp" alt="Logo der Firma ADASK" loading="lazy" />
              <span>ADASK</span>
            </div>
            <div class="social_box">
              <a href="https://www.youtube.com/@ADASK.B" target="_blank" rel="noopener">
                <img src="../images/youtube.png" alt="YouTube-Icon">
              </a>
              <a href="https://www.tiktok.com/@adask_b" target="_blank" rel="noopener">
                <img src="../images/TikTok.png" alt="TikTok-Icon">
              </a>
              <a href="https://www.instagram.com/adask_b/" target="_blank" rel="noopener">
                <img src="../images/instagram.png" alt="Instagram-Icon">
              </a>
              <a href="https://www.twitter.com/adask_b/" target="_blank" rel="noopener">
                <img src="../images/x-social-media.png" alt="Twitter-Icon">
              </a>
              <a href="https://de.pinterest.com/ADASK_B/" target="_blank" rel="noopener">
                <img src="../images/pinterest.png" alt="Pinterest-Icon">
              </a>
              <a href="https://www.twitch.tv/adask_b/" target="_blank" rel="noopener">
                <img src="../images/icons8-twitch-50.png" alt="Twitch-Icon">
              </a>
            </div>
          </div>
          <div class="info_main">
            <div class="row">
              <div class="col-md-3 col-lg-2">
                <div class="info_link-box">
                  <div class="link-heading">Nützliche Links</div>
                  <ul>
                    <li><a href="../">Home</a></li>
                    <li><a href="../shop">Shop</a></li>
                    <li><a href="../about">About</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3">
                <div class="link-heading">Unser Service</div>
                <p>
                  <strong>Spiele:</strong> Konzept bis Veröffentlichung<br>
                  <strong>Webseiten:</strong> Kreativ und funktional<br>
                  <strong>Apps:</strong> Für alle Plattformen<br>
                  <strong>Schulung:</strong> Alle Bereiche
                </p>
              </div>
              <div class="col-md-3 col-lg-2 ">
                <div class="link-heading">Interesse</div>
                <p>Deine Idee ist nur eine Nachricht vom Start entfernt. Schreib uns einfach an!</p>
              </div>
              <div class="col-md-3 offset-lg-2">
                <div class="info_form">
                  <div class="link-heading">Kontakt</div>
                  <form action="https://docs.google.com/forms/d/e/1FAIpQLSeenY1xsqFx29DmMAWhdsFwVO7TZ9TdS5uBBQhR3u4J70iB2Q/formResponse" method="POST" target="_blank" rel="noopener" required maxlength="500">
                    <input type="email" name="entry.1938339462" placeholder="Email" required>
                    <textarea 
                      name="entry.1489854127" 
                      placeholder="Ihre Nachricht" 
                      required 
                      class="message-textarea" 
                      rows="1"
                      maxlength="500"
                    ></textarea>

                    <div class="form-submit-container">
                      <span class="space_send"></span>
                      <button type="submit" class="bt">
                        <span class="msg"></span>
                        Senden
                      </button>
                      <span class="status-icon success">✓</span>
                      <span class="status-icon error">✕</span>
                    </div>
                    
                    <div class="form-submit-container">
                      <span class="space_send"></span>
                      <div class="checkbox-container">
                        <input type="checkbox" id="datenschutz" name="datenschutz" required>
                        <label for="datenschutz">
                          Ich habe die <a href="../datenschutz" target="_blank" rel="noopener">Datenschutzerklärung</a> gelesen
                        </label>
                      </div>
                    </div>
                    
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end info section -->

    {% include footerEnd.html %}
    <script src="../js/footer.js" defer></script>
  </body>
</html>
