<!DOCTYPE html>
<html lang="de">
  <head>
        <!-- Einbinden der CSS-Datei -->
        <link rel="stylesheet" href="../css/footer.css">
  </head>
<body>
  <!-- info section -->
  <section class="info_section">
    <div class="info_container">
      <div class="container">
        <div class="info_top">
          <div class="info_logo">
            <img src="../images/logo-1.webp" alt="Logo der Firma ADASK" loading="lazy" />
            <span>ADASK</span>
          </div>
          <div class="social_box">
            <a href="https://www.youtube.com/@ADASK.B" target="_blank" rel="noopener">
              <img src="../images/youtube.png" alt="YouTube-Icon">
            </a>
            <a href="https://www.tiktok.com/@adask_b" target="_blank" rel="noopener">
              <img src="../images/TikTok.png" alt="TikTok-Icon">
            </a>
            <a href="https://www.instagram.com/adask_b/" target="_blank" rel="noopener">
              <img src="../images/instagram.png" alt="Instagram-Icon">
            </a>
            <a href="https://www.twitter.com/adask_b/" target="_blank" rel="noopener">
              <img src="../images/x-social-media.png" alt="Twitter-Icon">
            </a>
            <a href="https://de.pinterest.com/ADASK_B/" target="_blank" rel="noopener">
              <img src="../images/pinterest.png" alt="Pinterest-Icon">
            </a>
            <a href="https://www.twitch.tv/adask_b/" target="_blank" rel="noopener">
              <img src="../images/icons8-twitch-50.png" alt="Twitch-Icon">
            </a>
          </div>
        </div>
        <div class="info_main">
          <div class="row">
            <div class="col-md-3 col-lg-2">
              <div class="info_link-box">
                <div class="link-heading">Nützliche Links</div>
                <ul>
                  <li><a href="../">Home</a></li>
                  <li><a href="#">Shop</a></li>
                  <li><a href="../about">About</a></li>
                  <li><a href="../datenschutz">Datenschutz</a></li>
                  <li><a href="../impressum">Impressum</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3">
              <div class="link-heading">Unser Service</div>
              <p>
                <strong>Spiele:</strong> Konzept bis Veröffentlichung<br>
                <strong>Webseiten:</strong> Kreativ und funktional<br>
                <strong>Apps:</strong> Für alle Plattformen
              </p>
            </div>
            <div class="col-md-3 col-lg-2 offset-lg-1">
              <div class="link-heading">Interesse?</div>
              <p>Deine Idee ist nur eine Nachricht vom Start entfernt. Schreib uns einfach an!</p>
            </div>
            <div class="col-md-3 offset-lg-1">
              <div class="info_form">
                <div class="link-heading">Kontakt aufnehmen</div>
                <form id="contactForm" action="https://docs.google.com/forms/d/e/1FAIpQLSeenY1xsqFx29DmMAWhdsFwVO7TZ9TdS5uBBQhR3u4J70iB2Q/formResponse" method="POST" target="hidden_iframe">
                  <input type="email" name="entry.1938339462" placeholder="Email" required>
                  <input type="text" name="entry.1489854127" placeholder="Ihre Nachricht" required>
                  <button type="submit">Senden</button>
                </form>
                <!-- Verstecktes Iframe für die Formularübermittlung -->
                <iframe name="hidden_iframe" id="hidden_iframe" class="hidden-message"></iframe>
                <!-- Bereiche für die Nachrichten -->
                <div id="loadingMessage" class="progress-message">
                  Ihre Nachricht wird gesendet...
                </div>
                <div id="successMessage" class="success-message">
                  Ihre Nachricht wurde erfolgreich gesendet!
                </div>
                <div id="errorMessage" class="error-message">
                  Es gab ein Problem beim Senden Ihrer Nachricht. Bitte versuchen Sie es erneut.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end info section -->

  <!-- Einbinden der JavaScript-Datei (jQuery sollte vorher eingebunden sein) -->
  <script src="../js/footer.js"></script>

  <!-- footer section -->
  <footer id="footer" class="container-fluid footer_section">
    <div class="container">
      <p>&copy; <span id="displayDate"></span> Alle Rechte vorbehalten von <a href="#">ADASK</a></p>
    </div>
  </footer>
  <!-- end footer section -->
</body>
</html>
