---
---
<!DOCTYPE html>
<html lang="de">
<head>
  
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- Mobile Metas -->
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />

  <!-- Site Metas -->
  <meta
    name="keywords"
    content="Persönlichkeitsanalyse, Big-Five, OCEAN-Modell, Selbsterkenntnis, Persönlichkeitsentwicklung, Psychologie, Charakteranalyse, wissenschaftliche Analyse, KI-Persönlichkeitstest, Big 5 Insight"
  />
  <meta
    name="description"
    content="Erleben Sie fundierte Persönlichkeitsanalysen mit Big 5 Insight. Entdecken Sie Ihre Stärken durch das Big-Five-Modell und KI-gestützte Tests. Fördern Sie Ihre Selbsterkenntnis und persönliche Entwicklung mit wissenschaftlicher Präzision."
  />
  <meta name="author" content="ADASK" />

  <title>Big 5 Insight - About</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
  <link href="../css/style.css" rel="stylesheet" />
  <link href="../css/responsive.css" rel="stylesheet" />

  <!-- Externe CSS Stylesheet für spezifische Seiten -->
  <link rel="stylesheet" href="../css/about.css">

  
</head>

<body class="sub_page">
  
  {% include header.html %}
  
  <!-- Erster Abschnitt - Mission -->
  <section
    class="experience_section layout_padding2-bottom animate_from_bottom bg-variant-1 "
    id="mission_section"
  >
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="img-box">
            <img
              src="../images/Kleopatra.webp"
              alt="Kleopatra"
              class="responsive-img"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>Unsere Mission</h2>
            </div>
            <p>
              Bei Big 5 Insight glauben wir daran, dass Selbsterkenntnis der Schlüssel zu persönlichem Wachstum ist. Unsere Mission ist es, Menschen durch wissenschaftlich fundierte Persönlichkeitsanalysen tiefere Einblicke in ihre Charakterzüge zu ermöglichen und sie auf ihrem Weg der Selbstentfaltung zu unterstützen. Mit Hilfe modernster Künstlicher Intelligenz bieten wir präzise und individuelle Auswertungen, die dir helfen, deine Stärken zu erkennen und weiterzuentwickeln.
            </p>
            <div class="btn-box">
              <a href="" class="btn-1" id="scrollToFooterButton">
                Kontakt
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Zweiter Abschnitt - Team -->
  <section
    class="experience_section layout_padding2-bottom text-variant-1 animate_from_bottom"
    id="team_section"
    >
    <div class="container">
      <div class="row align-items-center flex-md-row-reverse">
        <div class="col-md-6">
          <div class="img-box">
            <img
              src="../images/Theodore-Roosevelt.webp"
              alt="Theodore Roosevelt"
              class="responsive-img"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>Das Team hinter Big 5 Insight</h2>
            </div>
            <p>
              Unser Team besteht aus erfahrenen Psychologen, Datenwissenschaftlern und Entwicklern, die gemeinsam eine Plattform geschaffen haben, die Wissenschaft und Technologie vereint. Jeder Einzelne bringt sein einzigartiges Fachwissen ein, um sicherzustellen, dass unsere Analysen nicht nur präzise, sondern auch benutzerfreundlich und zugänglich sind. Wir sind leidenschaftlich daran interessiert, Menschen dabei zu helfen, sich selbst besser zu verstehen und ihr volles Potenzial auszuschöpfen.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Dritter Abschnitt - Warum ADASK? -->
  <section
    class="experience_section layout_padding2-bottom animate_from_bottom bg-variant-1"
    id="why_section"
  >
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="img-box">
            <img
              src="../images/Jeanne-D-Arc.webp"
              alt="Jeanne d'Arc"
              class="responsive-img"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>Warum Big 5 Insight?</h2>
            </div>
            <p>
              Wir bieten präzise, KI-gestützte Analysen basierend auf dem bewährten Big-Five-Modell. Unsere Plattform ermöglicht es dir, deine Persönlichkeit umfassend zu verstehen und individuelle Empfehlungen für deine persönliche Entwicklung zu erhalten. Anders als herkömmliche Persönlichkeitstests, nutzen wir moderne Technologie, um dir eine maßgeschneiderte und tiefgehende Analyse zu bieten, die dir hilft, gezielt an deinen Stärken zu arbeiten und deine Schwächen zu überwinden.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Vierter Abschnitt - Wissenschaftlicher Ansatz -->
  <section
    class="experience_section layout_padding2-bottom  text-variant-1 animate_from_bottom"
    id="science_section"
    >
    <div class="container">
      <div class="row align-items-center flex-md-row-reverse">
        <div class="col-md-6">
          <div class="img-box">
            <img
              src="../images/Sokrates.webp"
              alt="Sokrates"
              class="responsive-img"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>Wissenschaftlicher Ansatz</h2>
            </div>
            <p>
              Die Big-Five-Persönlichkeitstheorie (OCEAN) bildet die Grundlage für unsere Analysen. Dieses Modell ist international anerkannt und wissenschaftlich validiert, um ein umfassendes Bild deiner Persönlichkeit zu zeichnen. Durch die Integration von Künstlicher Intelligenz können wir dir detaillierte und personalisierte Einblicke bieten, die über traditionelle Tests hinausgehen. Unser Ansatz kombiniert bewährte wissenschaftliche Methoden mit modernster Technologie, um dir eine genaue und relevante Persönlichkeitsanalyse zu liefern.
            </p>
            <div class="btn-box">
              <a
                href="https://play.google.com/store/apps/details?id=com.Adask.Big5Insight"
                class="btn-1"
              >
              App
              </a>
              <a href="#" class="btn-2">Shop</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  {% include footer.html %}
  <!-- end footer section -->

  <!-- Externe JavaScript Dateien -->
  <script src="../js/bootstrap.js" defer></script>
  
  <!-- Externe JavaScript Datei für spezifische Seiten -->
  <script src="../js/about.js" defer></script>
  
</body>
</html>
