---
---
<!DOCTYPE html>
<html lang="de">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="Finden Sie" />
  <meta name="description" content="Finden Sie" />
  <meta name="author" content="ADASK" />

  <title>ADASK</title>


  <link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
    <!-- Custom styles for this template -->
  <link href="../css/style.css" rel="stylesheet" />
    <!-- responsive style -->
  <link href="../css/responsive.css" rel="stylesheet" />

  <script src="../js/jquery-3.4.1.min.js"></script>


  <style>

    .bg-variant-1 {
      background-color: #65B973;
    }
    
    .text-variant-1 {
      color: #F3F3F3; /* Dunkelgraue Schrift */
    }
    
    
    </style>
</head>

<body class="sub_page">
  <div class="hero_area">
    <!---------------------------------------- header section strats -------------------------------------------------------------------->
    {% include header.html %}
    <!-- ------------------------------------------------end header section -------------------------------------------->
  </div>
  <!-- about section -->


<!-- Big 5 Insight -->
<section class="experience_section layout_padding2-bottom">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-5 order-md-1 order-1">
        <div class="img-box">
          <img src="../images/Kleopatra.png" alt="">
        </div>
      </div>
      <div class="col-md-6 order-md-2 order-2">
        <div class="detail-box">
          <div class="heading_container">
            <h2>Unsere Mission</h2>
          </div>
          <p>
            Bei ADASK glauben wir daran, dass Selbsterkenntnis der Schlüssel zu persönlichem Wachstum ist. Unsere Mission ist es, Menschen durch wissenschaftlich fundierte Persönlichkeitsanalysen tiefere Einblicke in ihre Charakterzüge zu ermöglichen und sie auf ihrem Weg der Selbstentfaltung zu unterstützen
          </p>
          <div class="btn-box">
            <a href="" class="btn-1">Read More</a>
            <a href="" class="btn-2">Hire</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="experience_section layout_padding2-bottom bg-variant-1 text-variant-1">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-5 order-md-2 order-1">
        <div class="img-box">
          <img src="../images/Theodore-Roosevelt.webp" alt="">
        </div>
      </div>
      <div class="col-md-6 order-md-1 order-2">
        <div class="detail-box">
          <div class="heading_container">
            <h2>Das Team hinter ADASK</h2>
          </div>
          <p>
            Unser Team besteht aus Psychologen, Datenwissenschaftlern und Entwicklern, die gemeinsam eine Plattform geschaffen haben, die Wissenschaft und Technologie vereint.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>




<!-- Big 5 Insight -->
<section class="experience_section layout_padding2-bottom">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-5 order-md-1 order-1">
        <div class="img-box">
          <img src="../images/Jeanne-D-Arc.webp" alt="">
        </div>
      </div>
      <div class="col-md-6 order-md-2 order-2">
        <div class="detail-box">
          <div class="heading_container">
            <h2>Warum ADASK?</h2>
          </div>
          <p>
            Wir bieten präzise, KI-gestützte Analysen basierend auf dem bewährten Big-Five-Modell
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Zweiter Abschnitt -->
<section class="experience_section layout_padding2-bottom bg-variant-1 text-variant-1">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-5 order-md-2 order-1 ">
        <div class="img-box">
          <img src="../images/Sokrates.webp" alt="">
        </div>
      </div>
      <div class="col-md-6 order-md-1 order-2">
        <div class="detail-box">
          <div class="heading_container">
            <h2> Wissenschaftlicher Ansatz</h2>
          </div>
          <p>
            Die Big-Five-Persönlichkeitstheorie (OCEAN) bildet die Grundlage für unsere Analysen.
          </p>
          <div class="btn-box">
            <a href="" class="btn-1">Read More</a>
            <a href="" class="btn-2">Hire</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


    

  <!-- info section -->
  {% include footer.html %}
  <!-- end  footer section -->

  <script src="../js/bootstrap.js" defer></script>
    <!-- bootstrap core css -->
</body>
</html>
