---
---
<!DOCTYPE html>
<html lang="de">

<head>
  <!-- Basic Settings -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- SEO Metas -->
  <meta name="keywords" content="Datenschutzerklärung, Datenschutz, DSGVO, personenbezogene Daten, Hosting, Cookies, Datenverarbeitung, GitHub Pages, ADASK" />
  <meta name="description" content="Erfahren Sie alles über den Datenschutz bei ADASK. Unsere Datenschutzerklärung informiert Sie über die Verarbeitung personenbezogener Daten, Hosting-Details und Ihre Rechte gemäß der DSGVO." />
  <meta name="author" content="ADASK" />

  <title>ADASK - Datenschutzerklärung</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
  <link href="../css/style.css" rel="stylesheet" />
  <link href="../css/responsive.css" rel="stylesheet" />

  <!-- JavaScript -->
  <script src="../js/jquery-3.4.1.min.js"></script>
  <script src="../js/bootstrap.js" defer></script>
</head>

<body class="sub_page">
  <div class="hero_area">
     <!---------------------------------------- header section strats -------------------------------------------------------------------->
     {% include header.html %}
     <!-- ------------------------------------------------end header section -------------------------------------------->
  </div>


  <!-- experience section -->

  <section class="experience_section layout_padding-top layout_padding2-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="detail-box">
            <div class="heading_container">
              <h1>
                Datenschutz-<br>erklärung:
              </h1>
            </div>
            <p>
              Verantwortlicher<br>
              Arthur Schwan<br>
              <br>
              Mühlgasse 5<br>
              73614 Schorndorf<br>
              <br>
              Kontakt:<br>
              Telefon: 07181-2698639<br>
              E-Mail: adask.business@gmail.com<br>
              <h4>
                Allgemeine Hinweise:
              </h4>
              
              <br>
              Der Schutz Ihrer persönlichen Daten ist uns ein besonderes Anliegen. Wir 
              behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der
              gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.<br>
              <br>

              <strong>Hosting:</strong><br>
              Unsere Webseite wird auf GitHub Pages gehostet. Anbieter ist die GitHub, Inc., 
              88 Colin P Kelly Jr St, San Francisco, CA 94107, USA. Beim Besuch unserer Webseite 
              werden durch GitHub Pages Logfiles (z.B. IP-Adresse, Zugriffszeiten) erstellt. Diese
              Daten werden ggf. in die USA übertragen, wo sie möglicherweise dem Zugriff durch US-Behörden 
              unterliegen. Wir stützen diese Datenübertragung auf Ihre ausdrückliche Einwilligung
              gemäß Art. 49 Abs. 1 lit. a DSGVO. Weitere Informationen zum Umgang mit Nutzerdaten 
              finden Sie in der Datenschutzerklärung von GitHub: https://docs.github.com/de/site-policy/privacy-policies/github-privacy-statement.<br>
              <br>

              <strong>Erhebung und Verarbeitung personenbezogener Daten:</strong><br>
              <br>
              Kontaktformular / Newsletter-Anmeldung:<br>
              Wenn Sie uns per Formular Anfragen oder Newsletter-Anmeldungen 
              zukommen lassen, werden Ihre Angaben aus dem Formular (E-Mail-Adresse und Nachricht) 
              zwecks Bearbeitung der Anfrage und für den Fall von Anschlussfragen bei uns gespeichert. 
              Die Verarbeitung der in das Formular eingegebenen Daten erfolgt auf Grundlage 
              Ihrer Einwilligung (Art. 6 Abs. 1 lit. a DSGVO). Die Daten werden für die Dauer 
              der Bearbeitung Ihrer Anfrage gespeichert und anschließend gelöscht, sofern keine 
              gesetzlichen Aufbewahrungsfristen bestehen.<br>
              <br>
              Verwendung von Google Forms:<br>
              Wir verwenden für unser Formular den Dienst "Google Forms" der Google LLC, 
              1600 Amphitheatre Parkway, Mountain View, CA 94043, USA. Die von Ihnen eingegebenen 
              Daten werden an einen Server von Google in den USA übertragen und dort
              gespeichert. Hierbei beachten wir die geltenden DSGVO-Vorgaben für die 
              Datenübertragung in Drittländer. Die Datenübertragung basiert auf Ihrer 
              Einwilligung gemäß Art. 49 Abs. 1 lit. a DSGVO. Weitere Informationen zum 
              Umgang mit Nutzerdaten finden Sie in der Datenschutzerklärung von Google: https://policies.google.com/privacy?hl=de.<br>
              <br>

              <strong>Zweck der Datenverarbeitung</strong><br>
              Die von Ihnen im Formular eingegebenen Daten verwenden wir ausschließlich zur 
              Bearbeitung Ihrer Anfrage oder zur Versendung unseres Newsletters.<br>
              <br>

              <strong>Speicherdauer</strong><br>
              Wir speichern Ihre personenbezogenen Daten nur so lange, wie dies zur Erreichung 
              der hier genannten Zwecke erforderlich ist oder wie es die gesetzlichen Aufbewahrungsfristen vorsehen.<br>

              <br>
              <strong>Weitergabe von Daten</strong><br>
              Eine Übermittlung Ihrer personenbezogenen Daten an Dritte findet grundsätzlich nicht statt, außer wenn dies zur Vertragserfüllung erforderlich ist, 
              Sie ausdrücklich eingewilligt haben oder wir gesetzlich dazu verpflichtet sind.<br>
              <br>

              <strong>Verwendung von Cookies</strong><br>
              Unsere Website verwendet Cookies, um bestimmte Funktionen und eine bessere Benutzererfahrung bereitzustellen. Nicht notwendige Cookies 
              (z. B. für Marketing und Analysen) werden nur nach Ihrer Zustimmung aktiviert. Sie können diese Cookies jederzeit über den Cookie-Banner ablehnen oder anpassen.<br>
              <br>
              
              <strong>Ihre Rechte</strong><br>
              Sie haben das Recht:<br>
              Auskunft über Ihre bei uns gespeicherten Daten und deren Verarbeitung zu erhalten.
              Berichtigung unrichtiger personenbezogener Daten zu verlangen.
              Löschung Ihrer bei uns gespeicherten Daten zu verlangen, soweit keine gesetzlichen Aufbewahrungsfristen entgegenstehen.
              Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen.
              Widerspruch gegen die Datenverarbeitung einzulegen.
              Datenübertragbarkeit, sofern Sie in die Datenverarbeitung eingewilligt haben oder einen Vertrag mit uns abgeschlossen haben.
              Ihre Einwilligung jederzeit mit Wirkung für die Zukunft zu widerrufen.
              Bitte wenden Sie sich hierzu an: adask.business@gmail.com
              <br>

              <br>
              <strong>Beschwerderecht bei der Aufsichtsbehörde</strong><br>
              Sollten Sie der Ansicht sein, dass die Verarbeitung Ihrer personenbezogenen Daten nicht rechtmäßig erfolgt, 
              können Sie sich bei der zuständigen Datenschutzaufsichtsbehörde beschweren.<br>
              <br>

              <strong>Sicherheitsmaßnahmen (SSL-Verschlüsselung)</strong><br>
              Zum Schutz Ihrer Daten verwenden wir eine SSL-Verschlüsselung, die sicherstellt, 
              dass alle übertragenen Informationen vor dem Zugriff durch Dritte geschützt sind. Dies erkennen Sie am Präfix „https://“ in der URL.<br>

              <strong>Änderungen dieser Datenschutzerklärung</strong><br>
              Wir behalten uns vor, diese Datenschutzerklärung anzupassen, um sie aktuellen rechtlichen Anforderungen oder Änderungen unserer Leistungen 
              anzupassen. Für Ihren erneuten Besuch gilt dann die neue Datenschutzerklärung.<br>
            </p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- end experience section -->

      <!-- info section -->
  {% include footer.html %}
  <!-- end  footer section -->
  
  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
  <!-- Custom styles for this template -->
  <link href="../css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../css/responsive.css" rel="stylesheet" />

  <script src="../js/bootstrap.js" defer></script>
  
</body>
</html>